{{!-- <h1>{{appTitle}}</h1> --}}

{{#each ad}}
    <section>
        <img src="{{imageUrl}}">
        <h2>{{this.title}}</h2>
        <p>{{this.category}}</p>
        <p>{{this.town}}</p>
        <a href="/ads/{{_id}}">More details</a>
    </section>
{{/each}} 