<h1>My Ads</h1>


{{#each list}}
    <section>
        <img src="{{imageUrl}}">
        <h2>{{this.title}}</h2>
        <h3>Type of Ad:</h3>
        <p>{{this.typeOfAd}}</p>
        <h3>Posted in the category:</h3>
        <p>{{this.category}}</p>
        <p>
            <a href="/user-ads/{{_id}}">More details</a> |
            <a href="/ads/{{_id}}/edit">Edit</a>
        </p>
         <p>
        <form action="/ads/{{_id}}/delete" method="POST">
        <button>Delete</button>
        </form>
    </section>
    {{else}}
    <p>There are no movies yet!</p>

        
    <div><button type="submit"><a href="/ads/create">Create new ad</a></button></div>
{{/each}} 


