<section>

  <h2>{{title}}</h2>

    {{imageUrl}}
    <p> <strong>Type of Ad:</strong> {{typeOfAd}}</p>
    <p> <strong>Description:</strong> {{description}}</p>
    <p> <strong>Conditions:</strong> {{condition}}</p>
    <p> <strong>Category:</strong> {{category}}</p>
    <p> <strong>Location:</strong> {{town}}</p>

</section>

<a href="/">Home</a>
